body {
    overflow: hidden;
}

canvas {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);            
}

button {
    /* I've got no clue as to why this doesn't happen automatically */
    cursor: pointer;
}

#lobby>button {
    width: 30vmin;
    height: 10vmin;

    margin: auto;

    font-size: 5vmin;

    border: 1px solid white;
    border-radius: 2vmin;

    color: white;
}

button.waiting::before { content: "Inte redo"; }
button.waiting {
    background-color: firebrick;
}

button.ready::before { content: "Redo!"; }
button.ready {
    background-color: green;
}

button.waiting:hover {
    /* Built-in hover effect didn't work, therefore this is needed to darken the color little */
    background-color: rgb(158, 14, 14);
}

button.ready:hover {
    /* Built-in hover effect didn't work, therefore this is needed to darken the color little */
    background-color: rgb(0, 108, 0);
}

#lobby {
    display: grid;
    position: absolute;

    grid-template-rows: 8fr 2fr;
    
    left: 0px;
    top: 0px;
    
    width: 100vw;
    height: 100vh;
    
    background-color: #454545;
    color: white;
}

.player {
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;

    background-color: white;
}

.player > img {
    height: 95%;
}

.player > * {
    margin: auto;
    font-size: 8vh;
}

/* Almost better to just use javascript for this... */
.player:nth-child(n)::before { margin: auto; font-size: 8vh; }
.player:nth-child(1)::before { content: "1"; }
.player:nth-child(2)::before { content: "2"; }
.player:nth-child(3)::before { content: "3"; }
.player:nth-child(4)::before { content: "4"; }
.player:nth-child(5)::before { content: "5"; }
.player:nth-child(6)::before { content: "6"; }
.player:nth-child(7)::before { content: "7"; }
.player:nth-child(8)::before { content: "8"; }

.player:nth-child(even) {
    background-color: whitesmoke;
}

#player-container {
    display: grid;

    grid-template-columns: 100%;
    grid-auto-rows: 10vh;

    width: 40vw;

    margin: auto;
    margin-top: 1%;

    border-radius: 1vmin;
    overflow: hidden;

    color: red;
}
